@model EmpregosOnLine.Models.ViewModels.EmpresaEnderecoViewModel

@{
    ViewData["Title"] = "Adicionar nova empresa";
}

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Empresa.Endereco" />
            <div>
                <h4>Dados da empresa</h4>
                <div class="col-sm-4">
                    <label asp-for="Empresa.Nome" class="form-label"></label>
                    <input asp-for="Empresa.Nome" class="form-control" />
                    <span asp-validation-for="Empresa.Nome" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Empresa.NomeFantasia" class="form-label"></label>
                    <input asp-for="Empresa.NomeFantasia" class="form-control" />
                    <span asp-validation-for="Empresa.NomeFantasia" class="text-danger"></span>
                </div>
                <div class="col-sm-2">
                    <label asp-for="Empresa.CNPJ" class="form-label"></label>
                    <input asp-for="Empresa.CNPJ" class="form-control" />
                    <span asp-validation-for="Empresa.CNPJ" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Empresa.UrlImagem" class="form-label"></label>
                    <input asp-for="Empresa.UrlImagem" type="file" name="image" class="form-control" />
                    <span asp-validation-for="Empresa.UrlImagem" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-5">
                <h4>Endereço</h4>
                <div class="col-sm-2">
                    <label asp-for="Endereco.CEP" class="form-label"></label>
                    <input asp-for="Endereco.CEP" class="form-control" />
                    <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Endereco.Logradouro" class="form-label"></label>
                    <input asp-for="Endereco.Logradouro" class="form-control" />
                    <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
                </div>
                <div class="col-sm-1">
                    <label asp-for="Endereco.Numero" class="form-label"></label>
                    <input asp-for="Endereco.Numero" class="form-control" />
                    <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Endereco.Complemento" class="form-label"></label>
                    <input asp-for="Endereco.Complemento" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <label asp-for="Endereco.Bairro" class="form-label"></label>
                    <input asp-for="Endereco.Bairro" class="form-control" />
                    <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Endereco.Cidade" class="form-label"></label>
                    <input asp-for="Endereco.Cidade" class="form-control" />
                    <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label asp-for="Endereco.Estado" class="form-label"></label>
                    <input asp-for="Endereco.Estado" class="form-control" />
                    <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                </div>
            </div>

            <div class="my-3 text-center">
                <a asp-action="Index" class="btn bg-escuro txt-claro mx-2">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn bg-verde txt-claro mx-2" />
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
