@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Empregos Online!</h1>
    <p>Plataforma para cadastro de empresas e oportunidades de emprego.</p>
    <p class="text-muted">Aprendendo sobre ASP.NET Core MVC, Entity Framework Core, Bootstrap, Javascript e SQL Server!</p>
</div>
